@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');

body{
    background-image: url(./Thund.jpeg);
    background-size: 100%;
    height: 100vh;
    font-family: 'Crimson Text', serif;
    color: rgba(255, 255, 255, 0.911);
}

@media screen and (max-width: 1070px){
    body{
        background-image: url(./Thund3.jpeg);
    }
}

@media screen and (max-width: 750px){
    body{
        background-image: url(./Thund2.jpeg);
        text-align: center;
    }
}