.forecast-summaries {
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1070px) {
    .forecast-summaries {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        }
}
