.searchform {
    height: 100px;
    margin-top: 20px;
    margin-left: 100px;
}
.buttonClass {
    background-color: thistle;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(254, 255, 172);
    border-radius: 8%;
}

@media screen and (max-width: 1070px) {
    .searchform {
        margin-left: 180px;
    }
    .buttonClass {
        background-color: rgba(14, 85, 55, 0.623);
        border: 1px solid rgb(8, 88, 39);
    }
}
@media screen and (max-width: 750px){
    .searchform {
        margin: 0;
        margin-top: 40px;
    }
}